

{{!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX --}}

<div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="https://cdn.pixabay.com/photo/2020/02/27/08/47/sunset-4883881_960_720.jpg" aria-hidden="false" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            {{!-- <img class="home-img" src="" class="img-fluid" alt="..."> --}}
            <h1>Example headline.</h1>
            <p>Some more representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>

{{!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX --}}



<br>

<div class="card home-content" style="width: 18rem;">
  <img src="https://images-na.ssl-images-amazon.com/images/I/41vw+RmEi4L._SX327_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{Book}}</h5>
    <p class="card-text">{{Book_Description}} Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Links Placeholder</a>
  </div>
</div>

<div class="card home-content" style="width: 18rem;">
  <img src="https://images-na.ssl-images-amazon.com/images/I/41vw+RmEi4L._SX327_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{Book}}</h5>
    <p class="card-text">{{Book_Description}} Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Links Placeholder</a>
  </div>
</div>

<div class="card home-content" style="width: 18rem;">
  <img src="https://images-na.ssl-images-amazon.com/images/I/41vw+RmEi4L._SX327_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{Book}}</h5>
    <p class="card-text">{{Book_Description}} Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Links Placeholder</a>
  </div>
</div>

<div class="card home-content" style="width: 18rem;">
  <img src="https://images-na.ssl-images-amazon.com/images/I/41vw+RmEi4L._SX327_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{Book}}</h5>
    <p class="card-text">{{Book_Description}} Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Links Placeholder</a>
  </div>
</div> --}}

<img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/ku/storefront/desktop/05-Desktop_KU-SignUp_CG_BookShelf.jpg" class="" alt="...">