  {{#if results.length}}
  <div class="col-md-6">
    <h3>Search Results:</h3>

    <div class="card-deck">
      {{#each results as |result|}}
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="{{result.volumeInfo.imageLinks.thumbnail}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{result.volumeInfo.title}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Authors</strong>: {{result.volumeInfo.authors}}</li>
          <li class="list-group-item"><strong>Published</strong>: {{result.volumeInfo.publishedDate}}</li>
          <li class="list-group-item"><strong>Rating</strong>: {{result.volumeInfo.averageRating}}</li>
          <li class="list-group-item"><strong>Ratings: </strong>{{result.volumeInfo.ratingsCount}}</li>
          <li class="list-group-item" hidden>{{result.id}}</li>
        </ul>
        <div class="card-body">
          <h4>Add to Reading Lists:</h4>
          <button type="button" class="btn btn-warning">Have Read</button>
          <button type="button" class="btn btn-info">Reading</button>
          <button type="button" class="btn btn-primary">Want To Read</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>

<script src="./js/searchResults.js"></script>